
@{
    ViewData["Title"] = "User";
}
<br />
<div class="container-fluid row p-0 m-0">
    <div class="col-8">
        <h2 class="text-info">Users</h2>
    </div>
    
    
</div>
@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}



