@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
    @*<img src="~/images/Error403.png" alt="Girl in a jacket" width="1080" height="600">*@
    <h1>Hello</h1>